@import "tailwindcss";

@theme {
  --font-mono: var(--font-drafting-mono);
  --font-sans: var(--font-diamond-grotesk);
  --font-serif: var(--font-zarathustra);

  --font-header: var(--font-serif);
  --font-body: var(--font-sans);
}

@utility trim-both {
  text-box-trim: trim-both;
}

@utility cap-alpha {
  text-box-edge: cap alphabetic;
}

@utility grid-cols-responsive {
  @apply grid-cols-[0_100%_0] sm:grid-cols-[auto_39rem_auto] md:grid-cols-[auto_47rem_auto] lg:grid-cols-[auto_63rem_auto];
}

@utility grid-row-taupe-800 {
  row-rule: 1px solid var(--color-taupe-800);
}

@utility grid-col-taupe-800 {
  column-rule: 1px solid var(--color-taupe-800);
}

body {
  @apply font-body bg-taupe-950 text-taupe-50;
}

html {
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
}
